<style>.sq_Union1{
  width:100%;
}
.sq_Union1 .customBlue-size-tip{
position: absolute;
top: 41%;
left: 50%;
z-index: 9;
transform: translate(-50%,-50%);
}
.sq_Union1 .sq2_header_1 {
  height: 130px;
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 9;
  background: #1bbc9b;
  background-color: rgba(27, 188, 155, 0.4);
  width: 100%;
  transition: all .5s ease,background-color .4s ease-out;
}
.sq_Union1 .sq2_header_1 .sq_Union1_nav{
  max-width:1130px;
  margin:auto;
  display: flex;
  align-items: center;
  transition: all .5s ease,background-color .4s ease-out;
  justify-content: space-between;
  position: relative;
  background: #1bbc9b;
  background-color: rgba(27, 188, 155, 0.8);
  z-index: 99;
  height:130px;
}
.sq_Union1 .sq_header_1_screen{
  height:80px;
}
.sq_Union1 .sq_header_1_screen .sq_Union1_nav{
  height:80px;
}
.sq_Union1 .sq2_header_1 .backBlackhidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: rgba(17, 17, 17, 0.7);
  left: 0;
  top: 130px;
  z-index: 9;
  transition: all .5s ease,background-color .4s ease-out;
}
.sq_Union1 .sq2_header_1 .backBlackhidden:before{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111111 transparent;
  border-color: transparent transparent rgba(17, 17, 17, 0.7) transparent;
  content: "";
  position: absolute;
  right: 3.5%;
  top: -6px;
}
.sq_Union1 .sq_header_1_screen .backBlackhidden{
  top:80px;
}
.sq_Union1 .sq2_header_1 .backBlackhidden.on {
  opacity: 1;
  visibility: visible;
  height:100px;
}
.sq_Union1 .sq2_header_1 .backBlackhidden.on2 {
  opacity: 1;
  visibility: visible;
  height:300px;
}
.sq_Union1 .sq2_header_1 .sq2_icon_1{
  position:relative;
  height: 80px;
  display:flex;
  align-items:center;
  z-index: 1000;
}
.sq_Union1 .sq2_header_1 .sq2_icon_1:before{
  content:"";
  position:absolute;
  width:2px;
  height:100%;
  right:0;
  top:0;
  background:#fff;
  opacity:0.2;
}
.sq_Union1 .sq2_header_1 .sq2_icon_1 .sq2_icon_img img {
  height: 50px;
  transition: all .5s ease,background-color .3s ease-out;
  margin-left: 30px;
  margin-right: 50px
}
.sq_Union1 .sq2_header_1 .sq2_right_tab>div {
  position: absolute;
  top: 0;
  width: 20px;
  height: 130px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center
}
.sq_Union1 .sq2_header_1.sq_header_1_screen .sq2_right_tab>div {
  height:80px;
}
.sq_Union1 .sq2_header_1 .sq2_right_tab>div>i {
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 30px;
  background-color: rgba(122,122,122,.3);
  line-height: 30px;
  transition: all .3s ease;
  opacity: .6
}
.sq_Union1 .sq2_header_1 .sq2_right_tab>div>i:hover {
  opacity: 1
}
.sq_Union1 .sq2_header_1 .sq2_right_tab .sq2_right_prev {
  left: 0
}
.sq_Union1 .sq2_header_1 .sq2_right_tab .sq2_right_next {
  right: 0;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 {
    flex: 1;
  position:relative;
      height: 100%;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1.sq2_nav_1_smallMiddle{
left: 54%;
transform: translateX(-50%);
              }
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation {
position: absolute;
top: 0;

width: 797px;
overflow: hidden;
box-sizing: border-box;
width: calc(100% - 40px);
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section{

              }
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul {
  position: relative;
   display: flex;
  transition: all .6s ease;
  margin-left: 20px;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li.sqOnNav{
  position: relative;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li.sqOnNav:before{
  content:"";
  position:absolute;
  width:50%;
  height:2px;
  left:50%;
  bottom:0;
  background:#fff;
  transform: translateX(-50%);
  opacity:1;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li {
  float: left;
  font-size: 14px;
  font-family: Arial,"Microsoft YaHei","Helvetica Neue",Helvetica,"Open Sans",sans-serif,STXihei,"Myriad Set Pro",STHeitiSC-Light,lato,"PingFang SC";
  color: rgba(255,255,255,1);
  letter-spacing: .05rem;
  list-style: none;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
  flex-shrink: 0;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li>a {
  height: 130px;
  line-height: 130px;
  padding: 0 26px;
  display: block;
  transition: all .5s ease,background-color .3s ease-out;
}
.sq_Union1 .sq2_header_2.sq_header_1_screen .sq2_nav_1 .navigation>section>ul>li>a {
  height: 80px;
  line-height: 80px;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li>a.sqNavDown {
  transform: translateX(-8px)
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li a {
  position: relative;
  color: #fff;
 font-family: open sans Regular;    
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li:before{
  content:"";
  position:absolute;
  width:50%;
  height:2px;
  left:50%;
  bottom:0;
  background:#fff;
  transform: translateX(-50%);
  opacity:0;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li:hover {
  opacity: 1;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li:hover:before {
  opacity: 1;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li a.sqNavDown:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 8px;
  border-bottom: 2px solid;
  transform: rotate(90deg);
  transition: transform .25s ease-in-out
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li .sub ul li a.sqNavDown:before {
  right: -12px
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li .sub ul li a.sqNavDown:after {
  right: -12px
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation>section>ul>li:hover>a.sqNavDown:before {
  transform: rotate(0)
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li .sub ul li:hover a.sqNavDown:before {
  transform: rotate(0)
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>a.sqNavDown:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 8px;
  border-bottom: 2px solid
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  transform: translateY(50px);
  box-shadow: 0 0 10px rgba(122,122,122,0.4);
  transition: .2s;
  color:#fff;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub.activeRight {
  left: 0
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li {
  font-weight: bold;
  transition: .3s;
  position: relative;
  line-height: 25px;
  padding: 5px 22px
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li:hover {
  opacity: 1;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li:hover>a{
  opacity: 1;
  color:#1bbc9b;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li>a {
  white-space: nowrap;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 2px
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li>ul>li>a {
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
  opacity: 0;
  transform: translateY(50px);
  box-shadow: 0 0 10px rgba(122,122,122,0.4)
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav.activeRight {
  left: 0
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav li {
  display: inline-block
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav li>a {
  padding: 6px 20px;
  line-height: 25px;
  display: block
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav li a {
  transform: translateX(0)
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav li:hover {
  opacity: 1;
}
.sq_Union1 .sq2_header_2 .sq2_nav_1 .navigation ul li>.sub>ul>li .sub-nav li:hover a{
  color:#1bbc9b;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  visibility: hidden;
  position: absolute;
  left: 52%;
  top: 140%;
  z-index: 1000;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all .5s ease,background-color .4s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sq_Union1 .sq2_header_1.sq_header_1_screen .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  top: 163%;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1.buttonOn {
  visibility: visible;
  opacity: 1;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 span {
  position: absolute;
  color: #fff;
  left: -55px;
  font-size: 16px;
  font-weight: bold;
  transition: all .2s ease;
  visibility: hidden;
  opacity: 0;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 span.spanOn2 {
  opacity: 1;
  visibility: visible
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 span.spanOn {
  left: 40px;
  opacity: 0;
  visibility: hidden
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button {
  padding: 0px 20px 0px;
  width:270px;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 2px;
  overflow: hidden;
  outline: none !important;
  background: #1bbc9b;
  color: #ffffff;
  text-shadow: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: lowercase;
  cursor:pointer;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button:hover{
  background: #9d261d;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: translateY(4px);
  margin-right: 10px;
  margin-left: 20px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 {
  display: inline-block
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg {
  display: flex;
  position: relative;
  align-items: center;
  width: 90px;
  height: 80px;
  justify-content: center
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  opacity: .2;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg>i{
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg>i:hover{
  color:#000;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input {
  display: flex;
  align-items: center
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input {
  background: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: white;
  margin: 0 18px;
  padding: 15px 12px;
  min-width: 50%;
  transition: all .5s ease;
  font-size:12px;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
  width: 570px;
  transition: all .5s ease
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input:-moz-placeholder {
  color: #fff;
  font-size: 14px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input::-moz-placeholder {
  color: #fff;
  font-size: 14px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  height: 300px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1.navactive {
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all .5s ease
}
.sq_Union1 .sq2_header_3 .sq2_nav_1.navactive::-webkit-scrollbar {
  width: 0;
  height: 16px;
  background-color: #ccc;
  border-radius: 10px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1.navactive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      border-radius: 10px;
      background-color: #f7f7f7
  }
  .sq_Union1 .sq2_header_3 .sq2_nav_1.navactive::-webkit-scrollbar-thumb {
  width: 10px;
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li {
  line-height: 37px;
  position: relative;
  margin-left: 35px;
  margin-right: 15px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li i {
  color: #fff;
  width: 60px;
  height: 36px;
  display: inline-block;
  position: absolute;
  right: -15px;
  cursor: pointer
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li .sub ul li i {
  height: 26px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li i.sqNavDown:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 8px;
  border-bottom: 2px solid;
  transform: rotate(90deg);
  transition: transform .25s ease-in-out
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .blockNavBar {
width: auto!important;
              }
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li .sub ul li i.sqNavDown:before {
  right: 45px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li .sub ul li i.sqNavDown:after {
  right: 45px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li>i.sqNavDown:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 8px;
  border-bottom: 2px solid
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li>i.sqNavDownOn:before {
  transform: rotate(0)
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation ul li a {
  font-size: 14px;
  color: #fff
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li>.sub {
  margin-left: 20px;
  display: none;
  width: auto !important
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li>.sub>ul>li {
  position: relative;
  line-height: 26px
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li>.sub>ul>li>.sub-nav {
  margin-left: 20px;
  display: none
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li>.sub>ul>li>.sub-nav li {
  line-height: 24px;
  width: 300px
}
.sq_Union1 .sq2_header_3 .sq2_nav_menu>div {
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px
}
.sq_Union1 .sq2_header_3 .sq2_nav_menu>div>img {
  width: 18px;
  height: 18px;
  vertical-align: middle
}
.sq_Union1 .sq2_header_3 .sq2_nav_menu .fa_close {
  display: none
}
.sq_Union1 .customBlue-slick .slick-dots{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
}
.sq_Union1 .customBlue-slick .slick-dots>li{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.sq_Union1 .customBlue-slick .slick-dots>li>button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0);
  color: rgba(0,0,0,0);
  opacity:1;
  outline:none;
}
.sq_Union1 .customBlue-slick .slick-dots .slick-active>button{
  background-color: rgba(255, 255, 255, 1);
  opacity:1;
}
.sq_Union1 .customBlue-slick .slick-dots>li>button:before{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0);
  color: rgba(0,0,0,0);
  opacity:0;
}
.sq_Union1 .customBlue-slick .slick-dots .slick-active>button:before{
  background-color: rgba(255, 255, 255, 1);
  opacity:0;
}
.sq_Union1_banner{
  width:100%;
  position:relative;
}
.sq_Union1_banner li img{
  width:100%;
  max-height:660px;
}
@media(min-width: 1220px) and (max-width:1420px) {
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
                                  width:600px
                              }
                          }
                          @media(min-width: 990px) and (max-width:1220px) {
                          .sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
                                                              width:475px
                                                          }
                                                          .sq_Union1 .sq2_header_1 .sq2_icon_1 .sq2_icon_img img {
                                              height: 40px;
                                              transition: all .5s ease,background-color .3s ease-out;
                                              margin-left: 20px;
                                              margin-right: 20px
                                          }
                                      }
                                      @media screen and (max-width: 1005px) {
                                          .sq_Union1 .sq2_header_1 .sq_Union1_nav{
                                                          height: 80px;
                                                      }
                                                      .sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg:before {
                              content: "";
                              position: absolute;
                              width: 2px;
                              height: 100%;
                              right: 0;
                              top: 0;
                              background: #fff;
                              opacity: .2;
                              display:none;
                          }
                          .sq_Union1 .sq2_header_1 .sq2_icon_1:before {
content: "";
position: absolute;
width: 2px;
height: 100%;
right: 0;
top: 0;
background: #fff;
opacity: .2;
  display:none;
}                                                                
                          .sq_Union1 .sq2_header_1{
                  height: 80px;
              }
              .sq_Union1 .sq2_header_1 .sq2_right_1 {
      height: 60px;
      display: flex
  }
  .sq_Union1 .sq2_header_1 .backBlackhidden {
  top: 80px
}
.sq_Union1 .sq2_header_1 .sq2_right_tab{
  display:none!important;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg {
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
  width: 50%
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button {
  width: 150px;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 span {
  left: 20px;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  visibility: hidden;
  position: fixed;
  left: 35px;
  top: 107px!important;
  z-index: 1000;
  transform: translate(0);
  opacity: 0;
  transition: all .4s ease;
  width: 100%
}
.sq_Union1  .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button img {
  margin-right: 0
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1.buttonOn {
  visibility: visible;
  opacity: 1
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg>i {
margin-top: 4px;
}
}
@media screen and (max-width: 800px) {
.sq_Union1_banner li img{
  height:800px;
      width:auto;
}
}
@media screen and (max-width: 700px) {
  .sq_Union1  .sq2_header_3 .sq2_nav_1 {
                  height:230px
              }
              .sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
  width: 50%
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button {
  width: 120px;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input {
  width: 310px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button img {
  height: 26px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
  width: 50%
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  top: 310px
}
}
@media screen and (max-width: 500px) {
  .sq_Union1 .sq2_header_1 .sq2_icon_1 .sq2_icon_img img {
                      height:40px;
                      transition: all .5s ease,background-color .3s ease-out;
                      margin-left: 10px;
                      margin-right: 20px
                  }
                  .sq_Union1 .sq2_header_1_screen .sq2_icon_1 .sq2_icon_img img {
      height: 32px;
      margin-left: 10px
  }
  .sq_Union1  .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input>img {
  cursor: pointer;
  width: 22px;
  height: 22px;
  transform: translateY(2px);
  margin-right: 0
}
.sq_Union1  .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input>button>img {
  cursor: pointer;
  width: 22px;
  height: 22px;
  transform: translateY(4px);
  margin-right: 0
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 .navigation>section>ul>li {
  margin-left: 15px
}
.sq_Union1 .sq2_header_1 .backBlackhidden.on {
  height: 280px;
}
.sq_Union1 .sq2_header_3 .sq2_nav_1 {
  height: 360px
}
.sq_Union1  .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input {
  width: 300px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 input.inputOn {
  width: 50%;
  margin-bottom:25px;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  top: 435px;
  left: 15px
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 button img {
  margin-right: 0
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 230px!important;
  z-index: 1000;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all .5s ease,background-color .4s ease-out;
  display: block;
  text-align: center;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .sq2_right_btn1 span {
  left: 50%;
  top: -35px;
  transform: translate(-50%,-50%);
}
.sq_Union1_banner li img{
  height:460px;
      width:auto;
}
.sq_Union1 .sq2_header_1 .sq2_right_1 .sq2_search_1 .serach .search-wrap .search-input .search-inputImg {
width: 30px;
}
}</style>